---
import { Icon } from "astro-icon/components";

import axios from "axios";
let tareas = [];
await axios
    .get(`${import.meta.env.API_URL}processes/task-list`)
    .then(function (response) {
        tareas = response.data;
    })
    .catch(function (error) {
        console.log(error);
    });
---

<div class="container p-5">
    <div class="title text-3xl mb-5">
        <h3>Procesos</h3>
    </div>

    <ul
        class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl space-y-4"
    >
        {
            tareas.length > 0 ? (
                tareas.map(
                    ({
                        id,
                        user_name,
                        process_type,
                        process,
                        state,
                        phase,
                    }) => (
                        <li class="flex justify-between items-center gap-x-6 px-1 py-2 hover:bg-gray-50 sm:px-6 ">
                            <div class="w-3/4 flex flex-col min-w-0 gap-y-5">
                                <div class="min-w-0 grid grid-cols-5 justify-center items-center flex-auto text-sm">
                                    <h4 class="font-semibold text-gray-900">
                                        {user_name} 
                                    </h4>
                                    <p class="text-gray-600">
                                         {process_type}
                                    </p>
                                    <p class="text-gray-600">
                                        {process}
                                    </p>
                                    <p class="text-gray-600"> {state}</p>
                                    <p class="text-gray-600">{phase}</p>
                                </div>
                            </div>

                            <div class="flex justify-center items-center ">
                                <button class=" bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-1 px-2 rounded ">
                                    Gestionar
                                </button>
                            </div>

                            <div class="flex justify-end items-center"
                                x-data="{isListOptionsMenuOpen: false}"
                            >
                                <div class="relative flex-none">
                                    <button
                                        class="-m-5.5 block p-2.5 text-gray-500 hover:text-gray-900"
                                        type="button"
                                        @click="isListOptionsMenuOpen = !isListOptionsMenuOpen"
                                    >
                                        <Icon
                                            class="h-5 w-5"
                                            name="shared/ellipsis-vertical"
                                        />
                                    </button>
                                    <div
                                        class="absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
                                        tabindex="-1"
                                        x-show="isListOptionsMenuOpen"
                                        @click.outside="isListOptionsMenuOpen = false"
                                    >
                                        <a
                                            href="#"
                                            class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                                            tabindex="-1"
                                            @click.prevent={`isUpdateWindowOpen = true; selectedProcess = '${id}';`}
                                        >
                                            Editar
                                        </a>
                                        <a
                                            href="#"
                                            class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                                            tabindex="-1"
                                            @click.prevent={`isDeleteWindowOpen = true; selectedProcess = '${id}'; console.log('Proceso ID para eliminar:', '${id}')`}
                                        >
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    ),
                )
            ) : (
                <li class="text-gray-600 p-4">No hay procesos disponibles.</li>
            )
        }
    </ul>
</div>
