---
import { Icon } from "astro-icon/components";
<<<<<<< HEAD
import axios from "axios";
let getPublicConvocation = [];
await axios
  .get(`${import.meta.env.API_URL}processes`)
  .then(function (response) {
    getPublicConvocation = response.data;
  })
  .catch(function (error) {
    console.log(error);
  });
---
<ul
  class="divide-y divide-gray-100 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl"
>
  {
    getPublicConvocation
      ? getPublicConvocation.map(({ id, name, form_id }) => (
          <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
            <div class="flex min-w-0 gap-x-4">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">
                  <a href="#">
                    <span class="absolute inset-x-0 -top-px bottom-0" />
                    {name}
                  </a>
                </p>
                <p class="mt-1 flex text-xs leading-5 text-gray-500">
                  Ofertas: 1
                </p>
              </div>
              <div class="min-w-0 flex-auto">
                <p class="mt-1 flex text-xs leading-5 text-gray-500">
                  <a href="#">
                    <span class="absolute inset-x-0 -top-px bottom-0" />
                    Fecha de inicio: 17/05/20
                  </a>
                </p>
                <p class="mt-1 flex text-xs leading-5 text-gray-500">
                  Fecha de cierre: 17/50/20
                </p>
              </div>
            </div>
            <div
              class="flex flex-none items-center gap-x-4"
              x-data="{isListOptionsMenuOpen: false}">
                      <a class="rounded-md bg-[#E5BE01] px-2.5 py-1.5 text-sm font-semibold text-white hover:bg-[#064E3B] sm:block">Ver detalles</a>
                      <button class="rounded-md bg-[#047857] px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-[#064E3B] sm:block">Postularse</button>
              <div class="relative flex-none">
                <button
                  class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900"
                  type="button"
                  @click="isListOptionsMenuOpen = ! isListOptionsMenuOpen"
                >
                  <Icon class="h-5 w-5" name="shared/ellipsis-vertical" />
                </button>
                <div
                  class="absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
                  tabindex="-1"
                  x-show="isListOptionsMenuOpen"
                  @click.outside="isListOptionsMenuOpen = false"
                >
                  <a
                    href="#"
                    class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                    tabindex="-1"
                    @click.prevent={`isUpdateWindowOpen = true;'; id = '${id}'; name = '${name}';`}
                  >
                    Editar
                  </a>
                  <a
                    href="#"
                    class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                    tabindex="-1"
                    @click.prevent={`isDeleteWindowOpen = true; id = '${id}'`}
                  >
                    Eliminar
                  </a>
                </div>
              </div>
            </div>
          </li>
        ))
      : ""
  }
</ul>
=======

import { handleFind } from "@resources/index";

const { endpoint, permissions } = Astro.props;

// import axios from "axios";
// let getPublicConvocation = [];
// await axios.get(`${import.meta.env.API_URL}processes`)
//   .then(function (response) {
//     getPublicConvocation = response.data;
//   })
//   .catch(function (error) {
//     console.log(error);
//   })

const getPublicConvocation = [
  {
    id: "E-24",
    name: "Convocatoria 2024-01",
    country: "Mexico",
    university: "Universidad de Monterrey",
    status: "Activo",
  },
  {
    id: "D-22",
    name: "Convocatoria 2024-02",
    country: "Venezuela",
    university: "Universidad de Los Andes",
    status: "Activo",
  },
  {
    id: "A-11",
    name: "Convocatoria 2024-03",
    country: "Brazil",
    university: "Universidad de Brasilia (UnB)",
    status: "Cerrada",
  },
];
---

<div
  class="bg-white shadow-md rounded-md overflow-hidden mx-auto  "
  x-data=`{ selectedRole: ''}`
>
  <!-- <div class="bg-gray-100 py-2 px-4">
    <h2 class="text-xl font-semibold text-gray-800">Convocatorias</h2>
  </div> -->

  <div x-model="selectedrole" class="flex flex-col md:flex-row justify-center space-y-2 md:space-y-0 md:space-x-4 mt-4 mb-10">
    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'estudiante' }"
      @click="selectedrole === 'estudiante' ? selectedrole = '' : selectedrole = 'estudiante'"
    >
      Estudiantes
    </button>

    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'administrador' }"
      @click="selectedrole === 'administrador' ? selectedrole = '' : selectedrole = 'administrador'"
    >
      Administradores
    </button>

    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'docente' }"
      @click="selectedrole === 'docente' ? selectedrole = '' : selectedrole = 'docente'"
    >
      Docentes
    </button>
</div>


  <div x-data="{ flags: ['BR/shiny/64.png', 'MX/shiny/64.png', 'VE/shiny/64.png'] }">
    <ul class="divide-y divide-gray-200">
      <template x-for=`(convocatoria, index) in ${JSON.stringify(getPublicConvocation)}` :key="convocatoria.id">
        <li class="flex flex-wrap justify-around items-center py-2 px-3" x-if="selectedRole === '' || selectedRole === convocatoria.role">
          <img
            class="w-12 h-12 rounded-full object-cover mr-4"
            :src="`https://flagsapi.com/${flags[index]}`"
            alt="Country avatar"
          />

          <div class="w-full md:w-1/4 mx-auto md:mx-0 text-center md:text-left mb-5 md:mb-0">
            <h3 class="text-black text-base" x-text="`${convocatoria.id} - ${convocatoria.country}`"></h3>
            <p class="text-gray-600 text-base" x-text="convocatoria.university"></p>
        </div>
        
        

          <template x-if="convocatoria.status === 'Activo'">
            <div class="grid grid-cols-2 w-1/3 text-green-600">
              <div class="flex flex-col items-center">
                <Icon class="h-10 w-10" name="shared/check_circle" />
              </div>
              <p>Vigente</p>
            </div>
          </template>

          <template x-if="convocatoria.status === 'Cerrada'">
            <div class="grid grid-cols-2 w-1/3 text-red-600">
              <div class="flex flex-col items-center">
                <Icon class="h-10 w-10" name="shared/error" />
              </div>
              <p>Cerrada</p>
            </div>
          </template>

          <div x-data="{ isListOptionsMenuOpen: false }">
            <button class="px-6 py-2 border border-green-600 text-green-600 rounded-3xl flex items-center" type="button" @click="isListOptionsMenuOpen = !isListOptionsMenuOpen">
              Acciones
              <span class="border-l border-green-600 pl-2 ml-2">
                <Icon class="h-5 w-5" name="shared/chevron-right" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M6 9l6 6 6-6"></path>
                
              </span>
            </button>
            
            <div class="absolute right-20 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-gray-900/5 focus:outline-none" tabindex="-1" x-show="isListOptionsMenuOpen" @click.outside="isListOptionsMenuOpen = false">
              <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" tabindex="-1" @click.prevent="isUpdateWindowOpen = true; selectedProcess = convocatoria.id;">
                Duplicar
              </a>
              <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" tabindex="-1" @click.prevent="isDeleteWindowOpen = true; selectedProcess = convocatoria.id; console.log('Proceso ID para eliminar:', convocatoria.id)">
                Eliminar
              </a>
              <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" tabindex="-1">
                Modificar
              </a>
              <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" tabindex="-1">
                Publicar
              </a>
              <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50" tabindex="-1">
                Postulados
              </a>
            </div>
          </div>
        </li>
      </template>
    </ul>
  </div>
</div>
</div>

<!-- <ul
  class="divide-y divide-gray-100 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl"
>
  {
    getPublicConvocation.length > 0 ? (
      getPublicConvocation.map(({ id, name }) => (
        <li class="grid grid-cols-3 gap-x-6 px-2 py-3 hover:bg-gray-50 sm:px-6">
          <div class="flex flex-col min-w-0 gap-y-2">
            <div class="min-w-0 flex-auto">
              <h4 class="text-lg font-semibold text-gray-900">{name}</h4>
              <p class="text-gray-600">Oferta: </p>
              <p class="text-gray-600">Fecha de inicio: </p>
              <p class="text-gray-600">Fecha de fin: </p>
            </div>
          </div>
          <div class="flex justify-center items-center space-x-10">
            <button
              type="button"
              class="inline-flex items-center justify-center rounded-md  bg-emerald-500 hover:bg-emerald-700 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300"
            >
              Ver detalles
            </button>
            <button
              type="button"
              class="inline-flex items-center justify-center rounded-md  bg-yellow-300 hover:bg-yellow-500 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300"
            >
              Nominar
            </button>
          </div>
          <div
            class="flex justify-end items-center"
            x-data="{isListOptionsMenuOpen: false}"
          >
            <button
              class="-m-5.5 block p-2.5 text-gray-500 hover:text-gray-900"
              type="button"
              @click="isListOptionsMenuOpen = !isListOptionsMenuOpen"
            >
              <Icon class="h-10 w-10" name="shared/ellipsis-vertical" />
            </button>
            <div
              class="absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
              tabindex="-1"
              x-show="isListOptionsMenuOpen"
              @click.outside="isListOptionsMenuOpen = false"
            >
              <a
                href="#"
                class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                tabindex="-1"
              >
                Editar
              </a>

              <a
                href="#"
                class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50"
                tabindex="-1"
                @click.prevent={` id = '${id}'; console.log('Form ID for delete:', '${id}');`}
              >
                Eliminar
              </a>
            </div>
          </div>
        </li>
      ))
    ) : (
      <li class="text-gray-600 p-4">No hay convocatorias disponibles.</li>
    )
  }
</ul> -->
>>>>>>> 3f89fbc1fdab80d6936e7109348911f14f1d23a6
